* {
    box-sizing: border-box;
}

/* basic stylings ------------------------------------------ */



/* ================================================== *
 *  form animation
 * ================================================== */
 .container2 {
    width: 100%;
    margin: 30px auto 0;
    display: block;
    background: #FFF;
    padding: 10px 50px 0px;
}

@media screen and ( max-width:480px) {
    .container2 {
        width: 100%;
        margin: 30px auto 0;
        display: block;
        background: #FFF;
        padding: 0px;
    }
}


h2 small {
    font-weight: normal;
    color: #888;
    display: block;
}

.group {
    position: relative;
    margin-bottom: 45px;
}

input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;
    text-align: center;
}

.withicon-seatnum{
    background-image: url("./image/marker-mini.png");
    background-repeat: no-repeat;
    background-position: 5px 10px;
}

.withicon-name{
    background-image: url("./image/name-mini.png");
    background-repeat: no-repeat;
    background-position: 5px 10px;
}



input:focus {
    outline: none;
}

/* LABEL ======================================= */

label {
    padding-left: 40px;
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */

input:focus~label,
input:valid~label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}

/* BOTTOM BARS ================================= */

.bar {
    position: relative;
    display: block;
    width: 300px;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* active state */

input:focus~.bar:before,
input:focus~.bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */

input:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */

@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}